### ISPConfig folder protection begin ###
AuthType Basic
AuthName "Members Only"
AuthUserFile /var/www/clients/client1/web2/web/princesspi/.htpasswd
require valid-user
### ISPConfig folder protection end ###

